body {
  margin-top: 100px;
  background-color: whites;
  text-align: center;
}
.logo {
  margin-bottom: 50px;
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 300px;
}
.userId {
  width: 400px;
  height: 40px;
}
.userPw {
  width: 400px;
  height: 40px;
}
input {
  margin-bottom: 10px;
}
.loginBtn {
  width: 410px;
  height: 40px;
  border-color: #1ddb16;
}
