.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header > div {
  width: 30%;
  text-align: center;
}

.logoImg {
  height: 160px;
}

.default-link {
  margin: 0 10px;
}
