.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  height: 128px;
}

.Header > div {
  width: 30%;
  text-align: center;
}

.logoImg {
  height: 128px;
}

.rightMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}
