.SignUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
}

input {
  width: 400px;
  height: 50px;
  border: solid 1px #b8b8b8;
  margin-bottom: 20px;
  padding: 10px;
}

input:focus {
  outline: none;
  border: solid 1px #4374d9;
}
