body {
  margin-top: 100px;
  background-color: whites;
  text-align: center;
}
.logo {
  margin-bottom: 50px;
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 300px;
}
.userId {
  width: 400px;
  height: 50px;
}
.userPw {
  width: 400px;
  height: 50px;
}
input {
  margin-bottom: 10px;
}
.loginBtn {
  width: 400px;
  height: 50px;
  border: solid 1px #3163c9;
  color: white;
  font-size: 100%;
  cursor: pointer;
}

.loginBtn:focus {
  outline: none;
}
